[Unit]
Description=shop.inian.one Node service
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/shop.inian.one/app
EnvironmentFile=/var/www/shop.inian.one/app/.env
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
